<div class="container" ">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://jecrc-club-management1.onrender.com/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="mailto:suyashchaklanstart@gmail.com?bcc=suyashchaklan1234@gmail.com&subject=Enquery%20regarding%20clubs%20at%20JECRC.&body=Name%3A%0D%0AYear%3A%0D%0ARollNo%3A%0D%0AQuery%3A" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
      <li class="nav-item"><a href="https://jecrc-club-management1.onrender.com/events" class="nav-link px-2 text-body-secondary">Upcoming Events</a></li>
      <li class="nav-item"><a target= "_blank" href="https://jecrcfoundation.com/" class="nav-link px-2 text-body-secondary">JECRC Website</a></li>
      <li class="nav-item"><a href="https://jecrc-club-management1.onrender.com/about" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; JECRC Foundation</p>
  </footer>
</div>
<div class="b-example-divider"></div>